@{
    ViewData["Title"] = "Portal";
}
@model Dictionary<string,string>

<div class="text-center">
    <h1 class="display-4">Select Your Resoruce to Test!</h1>

    <div class="container resources">
        @foreach (var item in @Model)
        {
            <div class="resource-box">
                <a href="@item.Value">
                    @item.Key
                </a>
            </div>
        }

    </div>

</div>
